extends /layouts/_default

block content
  section
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis delectus, culpa sapiente molestias ab ipsum facere nulla. Ipsa natus tenetur nesciunt corrupti est vitae beatae consectetur, excepturi voluptatibus recusandae non?
